# =========================
# Virtual Environments
# =========================
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# ML Artifacts (IMPORTANT)
# =========================
artifacts/*.pkl
artifacts/*.npy


